.wrapper {
  width: 100vw;
  height: 100vh;
}

#white-top {
  width: 100vw;
  height: 70vh;

  background: #FAFAFA;

  #content {
    width: 80vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    #title {
      width: 70vw;

      padding-bottom: 1vh;
      border-bottom: 1px solid;

      letter-spacing: 2vw;
    }

    #subtitle {
      margin-top: 2vh;
      letter-spacing: 2vw;

      opacity: .6;
    }

    #my-form {

      width: 50vw;
      height: 30vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;


      #username {
        width: 100%;
        padding: 2vh 3vw;

        text-align: center;

        &::-webkit-input-placeholder {
          color: #2F2F2F;
          letter-spacing: 2px;
          text-align: center;
          opacity: .7;
        }
        &::-moz-placeholder { /* Firefox 18- */
          color: #2F2F2F;
          letter-spacing: 2px;
          text-align: center;
          opacity: .7;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
          color: #2F2F2F;
          letter-spacing: 2px;
          text-align: center;
          opacity: .7;
        }
        &::-ms-input-placeholder {
          color: #2F2F2F;
          letter-spacing: 2px;
          text-align: center;
          opacity: .7;
        }

        &:focus {
          border: 2px solid darkgrey !important;
          outline-color: lightgray !important;
        }

      } // #username

      .my-pad {
        padding: 1em 2em;
      }

    } // #my-form

  } // #content

} // #white-top


#dark-bottom {
  width: 100vw;
  height: 30vh;

  background: #2F2F2F;
}


#card-wrapper {
  width: 35vw;
  height: 30%;
  min-height: 50px;

  background: #DADADA;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


// MOBILE
@media (max-width: 768px) {

  #card-wrapper {
    width: 90%;
    height: 40%;
  }

} // @media
