<div class="my-card flex-center">
  <img src="<%= image_path('horse-js.png') %>" class="my-avatar" />
  <div class="my-card-content">
    <p><strong>horse_js</strong></p>
    <p>as much as I want to be, I'm not <span class="horse-text">@horse_js</span></p>
  </div>

  <div class="my-card-days">
    <small>7 days</small>
  </div>
</div>
